* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    /* background: #5c9; */
    /* background: #c56; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
textarea {
    resize: none;
}
/* ********************************** */
/* ************* UI CSS ************** */
input {
    border: none;
    cursor: pointer;
    background-color: rgb(191, 179, 124);
}

.btn-rounded-rect {
    border: 1px solid #fff;
    background: rgba(255,255,255,1);
    padding: 0.7em 1.5em;
    display: inline-block;
    border-radius: 6px;
    transition: 0.3s ;
    font-size: 1em;
}

.btn-rounded-rect:hover {
    background: rgba(255,255,255,0);
    color: #fff;         
}

.btn-text-white {
    border: 1px solid rgb(191, 179, 124);
    background-color: rgb(191, 179, 124);
    color: #fff;
    border-radius: 0px;
}

.btn-text-white:hover {
    background: rgba(255,255,255,0);
    color: #000;     
}

.btn-text-white:active {
    border: 1px solid rgb(70, 93, 243);
}

.icon {
    background-color: rgb(191, 179, 124);
    padding: 0.8em;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    transition: 0.2s;
}

.icon-white {
    background-color: #fff;
    color: rgb(191, 179, 124);
    border: 1.5px solid rgb(191, 179, 124);
    transition: 0.2s;
    display: inline-block;
    font-size: 1.2em;
}

.icon-white:hover {
    background-color: rgb(191, 179, 124);
    color: #fff;
    font-size: 1.5em;
    padding: 0.53em;
}


.icon-h-black-blackground:hover {
    background-color: #000;
    
}

.icon-shadow:hover {
    box-shadow:0 3px 10px rgb(150, 150, 150); 
}

.noHover {
    pointer-events: none;
}
/* **************** UI END ************* */
/* ************************************ */

ul {
    list-style-type: none;
}
a {
    all: unest;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}


/* ********************************* */
/* ========== Page Loading ========= */
/* ********************************* */
#loading {
    height: 100%;
    width: 100%;
     background-color: rgb(191, 179, 124);
     z-index: 9999;
     position: fixed;
     top: 0;
     left: 0;
     /* display: none; */
}

#loading .box {
    width: 50px;
    height: 50px;
    /* background-color: #5c9; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#loading .box::before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background-color: #000;
    top: 70px;
    opacity: 0.1;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
    -webkit-animation: shadow 0.5s linear infinite;
}

#loading .box::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    animation: rotating 0.5s linear infinite;
    -webkit-animation: rotating 0.5s linear infinite;
}

@keyframes rotating {
    100% {transform: rotate(90deg)}
}

@-webkit-keyframes rotating {
    100% {transform: rotate(90deg)}
}

@keyframes shadow {
    0%, 100% {transform: scale(1,1)}
    50% {transform: scale(1.3, 1)}
}

@-webkit-keyframes shadow {
    0%, 100% {transform: scale(1,1)}
    50% {transform: scale(1.3, 1)}
}

/* ********************************* */
/* =========== NAV BAR ============= */
/* ********************************* */
#nav1 {
    /* border: 5px solid red; */
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
    z-index: 999;
}

#menu {
    /* border: 1.5px solid #59c; */
    display: flex;
    justify-content: space-between;
    padding-left:12%;
    padding-right: 8%;
    background-color: #fff;
    box-shadow: 0 1px rgba(81, 81, 81, 0.2);
}

#menu .btn-bar {
    margin: 0.5em;
    padding: 0.4em 0.5em;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    display: none;
    cursor: pointer;
}

#menu .logo {
    /* border: 1px solid rgb(165, 20, 179); */
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

#menu .logo p {
    border-bottom: 1px solid rgba(147, 106, 30, 0.5);
}

#menu ul {
    /* border: 1px solid rgb(252, 252, 28); */
    font-size: 0.8em;            
    display: flex;
    line-height: 5em;
}

#menu li {
    padding: 0 1.2em;
}

#menu li a {
    transition: 0.2s;
}
#menu li a:hover {
    color:rgba(147, 106, 30, 0.5);
}


/* ********************************* */
/* ============== Top ============== */
/* ********************************* */
#top {
    /* border: 2px solid yellow; */
}

#top .bg {
    /* border: 2px solid red; */
    width: 100%;
    background-image: url('/img/mainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45em;
    position: relative;
    background-position: 0 0px ;
}

#top .bg::before {
    /* border: 2px solid blue; */
    content: '';
    position:absolute;
    width: 100%;
    top: 34.2em;
    height: 11em;
    background-image: url('../img/banner-wave.png');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: bottom center;
}

#top .inner {
    /* border: 1px solid #5c9; */
    padding-top: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top .text-animation-box {
    /* background-color: #5c9; */
    overflow: hidden;
    transition: 1s ease;
    border-right: 2px solid rgba(95, 95, 95, 0.65);
}

#top .text-animation-box h1 {
    font-size: 6em;
    color: #fff;
    transition: 1s ease;
}

.move-right {
    transform: translate(100%, 0);
}

.move-left {
    transform: translate(-50%, 0);
}

#top .paragraph {
    /* border: 2px solid red; */
    display: block;
    text-align:center;
    width: 35em;
}

#top p {
    font-size: 1.4em;
    margin: 1em 0;
    margin-bottom: 1.2em;
    color: #fff;
}

#top a {
    font-size: 1.2em;
}

/* ********************************* */
/* ============== one ============== */
/* ********************************* */
#one h2 {
    font-size: 3em;
    margin: 1em 0;
}

#one span {
    color: rgba(147, 106, 30, 0.5);
}

#one .inner {
    /* border: 3px solid #ae8; */
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
}

#one .moving-x {
    /* background-color: rgb(38, 153, 63); */
    display: flex;
}

/* #one .moving-x div:nth-child(1) {
    animation-delay: 0.2s;
}

#one .moving-x div:nth-child(2) {
    animation-delay: 0.4s;
}

#one .moving-x div:nth-child(3) {
    animation-delay: 0.6s;
} */

#one .card {
    border: 0.5px solid rgba(172, 170, 170, 0.6);
    height: 18em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 1em;
    transition: 0.5s ease;
}

#one .card i {
    margin-bottom: 1em;
    font-size: 1.8em;
}

#one .card h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#one .card p {
    /* border: 1px solid red; */
    line-height: 2em;
    padding: 0 2em;
}

/* ********************************* */
/* ============== two ============== */
/* ********************************* */
#two {
    background: #fff;
}

#two .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(228, 228, 228, 0.2);
    padding: 4em 0;
}

#two h2 {
    font-size: 3em;
    margin-bottom: 40px;
}

#two h2 span {
    color: rgba(147, 106, 30, 0.5);
}

#two .portfolio-menu ul {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#two .portfolio-menu li {
    margin: 1em 1em 0 1em;
    font-size: 0.9em;
    position: relative;
}
#two .portfolio-menu li::after {
    content: '/';
    position: absolute;
    right: -15px;
    font-size: 1em;
}
#two .portfolio-menu li:nth-last-child(1)::after {
    content: '';
}

.active {
    color: rgba(147, 106, 30, 0.5);
}

#two .portfolio-menu li:hover {
    color: rgba(147, 106, 30, 0.5);
    cursor: pointer;
}

#two .portfolio-item {
    /* background-color: #5c9; */
}

#two .portfolio-item .item {
    /* border: 1px solid red; */
    margin-bottom: 1em;
    position: relative;
}

#two .portfolio-item .item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    transition: 0.3s;

}

#two .portfolio-item .item:hover::before{
    background-color: rgba(255, 255, 255, 1);
}

#two .portfolio-item .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    /* background-color: #ae8; */
    transform: translate(-50%, -50%);
    transition: 0.3s;
    /* display:none; */
}

#two .portfolio-item .text {
    /* display: none; */
}

#two .portfolio-item .card i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    transition: 0.6s ease;
    opacity: 0;
}

#two .portfolio-item .card h4 {
    position: absolute;
    top: 100%;
    left: 20px;
    transform: translate(0, -60px);
    transition: 0.6s ease;
    opacity: 0;
}

#two .portfolio-item .card p {
    position: absolute;
    top: 100%;
    left: 20px;
    transform: translate(0, -30px);
    font-size: 0.8em;
    transition: 0.6s ease;
    opacity: 0;
}

#two .portfolio-item .item:hover i {
    opacity: 1;
    font-size: 1.5em;
}

#two .portfolio-item .item:hover h4 {
    opacity: 1;
    transform: translate(0, -80px);
}

#two .portfolio-item .item:hover p {
    opacity: 1;
    transform: translate(0, -50px);
}

#two .portfolio-item img {
    width: 350px;
    margin-left: 1em;
}

/* ********************************* */
/* ============= three ============= */
/* ********************************* */
#three {
    background: #fff;
}

#three .inner {
    padding-top: 5em
}

#three h2 {
    text-align:center;
    font-size: 2.5em;
}

#three span {
    color: rgba(147, 106, 30, 0.5);
}

#three img {
    width: 500px;
}


#three .container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding-bottom: 5em;
}

#three .container .context {
    /* border: 1px solid blue; */
    width: 35em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#three .container .context h3 {
    font-size: 1.8em;
}
#three .container .context p {
    margin: 1.5em 0;
    font-size: 0.8em;
    line-height: 2em;
}

/* ********************************* */
/* ============== four ============= */
/* ********************************* */
#four {
    background: #fff;
}

#four .inner {
    background-color: rgba(228, 228, 228, 0.2);
    padding: 4em 0;
}        
#four h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
}

#four h2 span {
    color: rgba(147, 106, 30, 0.5);
}

#four .container .card {
    border: 1px solid #666;
    width: 21em;
    height: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    transition: 0.4s ease;
    margin: 0.5em 0.5em;
    transform: translateZ(0);
}

#four .container {
    /* background: #ae8; */
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#four .container .card:hover {
    box-shadow: 0 0 23px 3px rgba(96, 96, 96, 0.2);
}

#four .container .card h3 {
    margin: 1.2em 0;
}

#four .container .card p {
    padding: 0 30px;
}

/* ********************************* */
/* ============== five ============= */
/* ********************************* */
#five .inner {
    width: 100%;
    height: 40em;
    /* border: 1px solid red; */
}

#five .container {
    /* background-color: #5c9; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#five .container i {
    font-size: 5em;
    color: rgba(191, 174, 82, 0.7);
    margin-bottom: 30px;
}

#five .container h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    width: 85%;
}

/* ********************************* */
/* ============== six ============== */
/* ********************************* */

#six .inner {
    /* border: 2px solid #a86; */
    padding: 3em 2em;
    background: #fff;
    display: flex;
    justify-content: center;
}

#six .inner .content {
    /* border: 2px solid yellow; */
    width: 30em;
    margin:0 1em 1.5em 1em;
}


#six .inner .content p{
    /* background-color: #ae8; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

#six .inner .content .bar {
    width: 100%;
    height: 3px;
    background: rgba(154, 154, 154, 0.45);
}

#six .inner .content .bar div {
    width: 0;
    height: 100%;
    background: rgba(191, 174, 82, 0.7);
}


/* ********************************* */
/* ============= seven ============= */
/* ********************************* */
#seven {
    width: 100%;
    height: 33em;
    /* background-color: #ae8; */
}

#seven .inner {
    /* border: 3px solid #c59; */
    height: 100%;
    width: 100%;
    background-image: url('/img/testi-bg.jpg');
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seven .container {
    width: 40em;
    height: 20em;
    background: rgba(66, 66, 66, 0.6);
    color: #fff;
}

#seven .container .card {
    /* border: 2px solid #5c9; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#seven .container .card .headshot {
    width: 65px;
    height: 65px;
    margin: 30px 0;
}

#seven .container .card .headshot img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#seven .owl-stage-outer {
    /* background: red; */
    height: 100%;
}

#seven .owl-stage {
    /* background: #a68; */
    height: 100%;
}

#seven .owl-item {
    color: white;
    height: 100%;
}



/* ********************************* */
/* ============= eight ============= */
/* ********************************* */
#eight {
    /* border: 2px solid rgb(255, 115, 0); */
    width: 100%;
    /* height: 45em; */
    background-color: #fff;
}

#eight .inner {
    padding: 5em 0;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eight .inner h2 {
    font-size: 2.5em;
    margin-bottom: 60px;
}

#eight .inner h2 span {
    color: rgba(147, 106, 30, 0.5);
}

#eight .container {
    /* border: 3px solid #666; */
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#eight .container .card {
    /* border: 2px solid green; */
    display: inline-block;
    text-align: left;
}

#eight .container .card img {
    width: 300px;
    /* border: 3px solid red; */
}

#eight .owl-item h3 {
    margin-top: 20px;
    color: #000;
    font-weight: 300;
}

#eight .owl-item p {
    color: rgba(138, 137, 137, 0.8);
    margin: 7.5px 0;
    font-size: 0.8em;
}

#eight .owl-item i {
    color: rgba(0, 0, 0, 0.82);
    font-size: 0.8em;
}


/* ********************************* */
/* ============= nine ============== */
/* ********************************* */
#nine {
    background-color: #fff;
    /* height: 45em; */
}

#nine .inner {
    background-color: rgba(228, 228, 228, 0.2);
    padding: 5em 0;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nine .inner h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
}

#nine .inner h2 span {
    color: rgba(147, 106, 30, 0.5);
}

#nine .container1 {
    /* background: #ae8; */
    display: flex;
    width: 90%;
    width: 70em;
    flex-direction: row;
}

#nine .container1 .info {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    width: 33%;
}

#nine .container1 .info .icon-box {
    /* border: 1px solid red; */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nine .container1 .info h3 {
    font-size: 1.2em;
    font-weight: 500;
}

#nine .container1 .info p {
    font-size: 0.8em;
}

#nine .container2 {
    /* background-color: #59c; */
    width: 90%;
    width: 70em;
    margin-top: 30px;
}

#nine .container2 .input-box {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

#nine .container2 .input-box .input1 {
    width: 33%;
    /* background-color: #5c9; */
}

#nine .container2 .input-box .input1 input {
    margin-left: 10px;
    height: 30px;
    padding: 8px;
    width: 90%;
    background-color: #fff;
    margin-bottom: 30px;
}

#nine .container2 .textarea-box {
    /* background-color: #9fc; */
    width: 100%;
    display: flex;
    justify-content: center;
}

#nine .container2 .textarea-box textarea {
    width: 96%;
    height: 10em;
    padding: 8px;
}

#nine .container2 .submit-box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}



/* *********************** */
/* ==== ten (footer) ===== */
/* *********************** */
#ten {
    height: 17em;
    background-color: #000;
    position: relative;
}
#ten .inner {
    /* background-color: #ae8; */
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#ten .inner h4 {
    border: 1px solid rgba(172, 167, 89, 0.8);;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.7em;
    padding: 0 10px;
    color: rgba(172, 167, 89, 0.8);
}

#ten .inner .icon-box {
    margin: 15px 0;
}

#ten .inner .icon-box i {
    margin: 0 10px;
}


/* ********************************* */
/* ========== background1 ========== */
/* ********************************* */        
#background1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#background1 .inner {
    width: 87em;
}

#background1 .inner img {
    width: 100%;
    object-fit: cover;
}

/* *********************** */
/* ======== to top ======= */
/* *********************** */ 
#to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#to-top .icon-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(175, 137, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

#to-top .icon-box:hover {
    /* background-color: #ae8; */
    box-shadow:0 3px 12px rgba(90, 90, 90, 0.5); 
}

#to-top i {
    /* background-color: yellow; */
    font-size: 15px;
    color: #fff;
}        


/* ********************************* */
/* ========== media query ========== */
/* ********************************* */
@media screen and (max-width: 1200px) {
    #menu {
        padding: 0 4%;
    }

    #one .card {
        width: 16em;
    }

    #two .portfolio-item {
        /* width: 70%; */
    }

    #two .portfolio-item img {
        width: 300px;
    }

    #three img {
        width: 420px;
    }

    #three .container .context {
        /* border: 1px solid #666; */
        width: 30em;
    }

    #four .container .card {
        width: 17em;
        height: 20em;
    }

    #six .inner .content {
        width: 25em;
    }

    #seven .container {
        width: 35em;
    }

    #eight .container {
        width: 70%;
    }

    #eight .container .card {
        width: 100%;
    }

    #eight .container .card img {
        width: 100%;
    }

    #nine .container1,
    #nine .container2 {
        width: 55em;
    }
}

@media screen and (max-width: 990px) {
    #menu {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    #menu ul {
        padding-left: 5em;
    }

    #menu .logo {
        padding: 1em 0;
    }

    #top .text-animation-box h1 {
        font-size: 3em;
    }

    #one .card {
        width: 20em;
        margin-bottom: 2em;
    }

    #one .moving-x {
        flex-wrap: wrap;
        justify-content: center;
    }

    #two .portfolio-item img {
        width: 300px;
    }

    #three .container {
        flex-direction: column;
        align-items: center;
    }

    #three .container .container-img {
        /* border: 2px solid red; */
        width: 70%;
    }

    #three img {
        width: 100%;
    }

    #three .container .context {
        /* border: 1px solid red; */
        width: 75%;
        align-items: flex-start;
        margin-top: 3em;
    }

    #three .container .context p {
        margin-right: 3em;
    }

    #four .container .card {
        width: 19em;
        height: 17em;
    }

    #six .inner {
        flex-direction: column;
    }

    #six .inner .content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #seven .container {
        width: 45em;
    }

    #eight .container {
        width: 80%;
    }

    #nine .container1 {
        justify-content: center;
        width: 40em;
    }

    #nine .container1 .info {
        /* background-color: red; */
        flex-direction: column;
        align-items: flex-start;
        width: 220px;
    }

    #nine .container2 {
        width: 40em;
    }

    #nine .container2 .input-box {
        flex-direction: column;
    }

    #nine .container2 .input-box .input1 {
        /* border: 2px solid red; */
        width: 100%;
    }

    #nine .container2 .input-box .input1 input {
        /* border: 2px solid green; */
        width: 98%;
        margin-left: 0;
    }

    #nine .container2 .textarea-box {
        /* border: 2px solid yellow; */
    }

    #nine .container2 .textarea-box textarea {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    #menu {
        align-items: flex-start;
        padding: 0 1em;
    }

    #menu .list {
        width: 100%;
    }

    #menu ul {
        flex-direction: column;
        padding-left: 1em;
        line-height: 3.5em;
        background-color: #000;
        color: #fff;
    }

    #menu li a {
        /* background-color: red; */
        display: block;
        color: #fff;
    }
    #menu li a:hover {
        color: rgba(255, 255, 255, 0.5);
    }

    #menu .btn-bar {
        /* background-color: #e5c; */
        display: block;
    }

    #top .text-animation-box h1 {
        font-size: 2em;
    }

    #one .card {
        width: 90%;
    }

    #top .paragraph {
        width: 90%;
    }

    #two .portfolio-item img {
        width: 250px;
    }

    #three .container .container-img {
        width: 90%;
    }

    #three .container .context {
        width: 90%;
        margin-left: 0;
    }

    #three .container .context p {
        width: 90%;
        margin-right: 0em;
    }

    #four .container .card {
        width: 100%;
        height: auto;
        padding:40px 0;
    }

    #five .inner {
        height: 30em;
    }

    #seven {
        height: 28em;
    }

    #seven .container {
        width: 90%;
    }

    #eight .container {
        /* border: 1px solid red; */
        width: 90%;
    }

    #nine .container1 {
        flex-direction: column;
        width: 90%;
    }

    #nine .container1 .info {
        flex-direction: row;
        align-items: center;
        width: 90%;
    }

    #nine .container2 {
        width: 90%;
        /* background-color: yellow; */
    }

    #nine .container2 .input-box {
        /* background-color: red; */
    }

    #nine .container2 .input-box .input1 {
        /* background-color: #ae8; */
    }

    #nine .container2 .input-box .input1 input {
        margin-left: 0;
        /* background-color: #000; */
        width: 94%;
    }

    #nine .container2 .textarea-box {
        justify-content: flex-start;
    }

    #nine .container2 .textarea-box textarea {
        width: 94%;
    }


}

@media screen and (max-width:660px) {
    #two .portfolio-item img {
        width: 180px;
    }                   
}

@media screen and (max-width: 460px) {
    #two .portfolio-item img {
        width: 130px;
    }                  
}

.test1 {
    transform: translate(10px, 0);
}

